.datePickerHolder {
    top: 314px;
    z-index: 1;
    left: 119px;
    padding: 25px;
    position: absolute;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.11);
}

@media screen and (max-width: 750px){
    .datePickerHolder {
        left: 5px;
    }
}